<div class="container" style="background-image:url(images/back.jpg);width:100%;height:680px;background-position:center; background-repeat:repeat-y">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row clearfix">
        <div class="col-md-12 column" style="margin-top:20px;">
          <div class="row clearfix">
            <div class="col-md-6 column" style="color:white;padding-left:20px;">
              <h3>APIDoc</h3>
            </div>
            <div class="col-md-6 column">
              <ul class="nav nav-pills pull-right">
                <li><a href="#">{{User}}</a></li>
                <li class="active">
                   <a href="/">首页</a>
                </li>
                <li>
                   <a href="/projects">项目管理</a>
                </li>
                <li>
                  <a herf="#" onclick="logoutEvent()">注销</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix" style="color:white;margin-top:170px;">
        <div class="col-md-12 column">
          <h3 class="text-center">APIDoc 云端 RestFul API 管理</h3>
          <h1 class="text-center" style="margin-top:30px;">简洁明了的接口文档管理 构建高效的团队协作</h1>
          <div class="col-md-12 column text-center" style="margin-top:50px;">
          {{#if User}}{{else}}
              <a class="btn btn-primary btn-large login-btn" data-toggle="modal" data-target=".login-modal">快速登入</a>
          {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="modal fade login-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:400px;height:250px;margin-top:150px;opacity: 0.9">
            <div class="modal-content" style="height:100%;padding:30px 40px;">
                <form role="form " class="login-form">
                    <div class="form-group">
                        <label for="Please input your user name!">Username</label>
                        <input type="text" class="form-control" id="userName" placeholder="Please input your user name!" name="userName">
                    </div>
                    <div class="form-group">
                        <label >Password</label>
                        <input type="password" class="form-control" id="passWord" placeholder="Please input your password!" name="password">
                    </div>
                    <button type="submit" class="btn btn-success pull-right" name="login" onclick="loginEvent(event)">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
