{{> header}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <hr style="margin: 5px auto;">
            <ul class="nav nav-sidebar">
                <li><a href="/users/center">个人资料</a></li>
                <li><a href="#">修改密码</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h3 class="page-header">
                修改密码
            </h3>
            <form class="change-password-form" style="width:300px;" id="password-form">
                <div class="form-group">
                    <label>原密码:</label>
                    <input type="password" class="form-control" name="origin" placeholder="输入原密码" required/>
                </div>
                <div class="form-group">
                    <label>新密码:</label>
                    <input type="password" class="form-control" id="passWord" name="password" placeholder="请输入新密码" required/>
                </div>
                <div class="form-group">
                    <label>确认密码:</label>
                    <input type="password" class="form-control" id="passWord2" name="repassword" placeholder="请再次输入新密码" required/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary pull-right" value="提交" />
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $(".change-password-form").submit(function(e){
            e.preventDefault();
            var data = $("change-password-form").serializeJSON();
            if (data.repassword !== data.password){
                alert("两次输入密码不一致");
                return false;
            }
            $.ajax({
                url:"/api/users/change-pwd",
                type:"PUT",
                data:JSON.stringify(data),
                success:function(data){
                    if(data && data.success){
                        alert("修改成功");
                        location.reload();
                    } else {
                        alert(data.reason);
                    }
                }
            })
        })
    });

</script>
