{{> header}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <hr style="margin: 5px auto;">
            <ul class="nav nav-sidebar">
                <li><a href="/users/center">个人资料</a></li>
                <li><a href="#">修改密码</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h3 class="page-header">
                修改密码
            </h3>
            <form class="form" style="width:300px;" id="password-form">
                <div class="form-group">
                    <label>原密码:</label>
                    <input type="password" class="form-control" name="origin" placeholder="输入原密码" required/>
                </div>
                <div class="form-group">
                    <label>新密码:</label>
                    <input type="password" class="form-control" id="passWord" name="password" placeholder="请输入新密码" required/>
                </div>
                <div class="form-group">
                    <label>确认密码:</label>
                    <input type="password" class="form-control" id="passWord2" name="repassword" placeholder="请再次输入新密码" required/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">
                        提交
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<link href="../stylesheets/dashboard.css" rel="stylesheet">
<script type="text/javascript">
    $(function(){
        passwordValidator();
        $("button.btn").click(function(e){
            e.preventDefault();
            var data = $("form").serializeJSON();
            if (data.repassword !== data.password){
                alert("两次输入密码不一致");
                return false;
            }
            $.ajax({
                url:"/users/change-password",
                type:"POST",
                data:JSON.stringify(data),
                success:function(data){
                    if(data && data.success){
                        alert("修改成功");
                        location.reload();
                    } else {
                        alert(data.reason);
                    }
                }
            })
        })
    });


    var passwordValidator = function(){
        $('#password-form')
                .bootstrapValidator({
                    message: 'This value is not valid',
                    feedbackIcons: {/*input状态样式图片*/
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {/*验证：规则*/
                        password: {
                            message:'密码无效',
                            validators: {
                                notEmpty: {
                                    message: '密码不能为空'
                                },
                                stringLength: {
                                    min: 6,
                                    max: 30,
                                    message: '用户名长度必须在6到30之间'
                                },
                                regexp: {
                                    regexp: /^[a-zA-Z0-9_\.]+$/,
                                    message: 'The username can only consist of alphabetical, number, dot and underscore'
                                }
                            }
                        },
                        origin: {
                            message:'密码无效',
                            validators: {
                                notEmpty: {
                                    message: '密码不能为空'
                                },
                                stringLength: {
                                    min: 6,
                                    max: 30,
                                    message: '用户名长度必须在6到30之间'
                                },
                                regexp: {
                                    regexp: /^[a-zA-Z0-9_\.]+$/,
                                    message: 'The username can only consist of alphabetical, number, dot and underscore'
                                }
                            }
                        },
                        repassword: {
                            message: '密码无效',
                            validators: {
                                notEmpty: {
                                    message: '密码不能为空'
                                },
                                stringLength: {
                                    min: 6,
                                    max: 30,
                                    message: '用户名长度必须在6到30之间'
                                },
                                identical: {//相同
                                    field: 'password',
                                    message: '两次密码不一致'
                                },
                                regexp: {//匹配规则
                                    regexp: /^[a-zA-Z0-9_\.]+$/,
                                    message: 'The username can only consist of alphabetical, number, dot and underscore'
                                }
                            }
                        }
                    }
                }).on('success.form.bv',function(e){
            e.preventDefault();

        })
    }
</script>
