<div class="col-sm-3 col-md-2 sidebar">
    <hr style="margin: 5px auto;">
    <ul class="nav nav-sidebar">
        <li><a href="#">个人资料</a></li>
        <li><a href="#">修改密码</a></li>
    </ul>
</div>