/* validator */
.error input, .error textarea {
    outline: 0;
    border-color: #f20;
    color: #f20;
}

/* header */
.navbar{
  background-color: #8895B4;
}
.navbar-inverse .navbar-right>li:hover{
  background-color: #fff;
}
.navbar-inverse .navbar-right>li a:hover{
  color: #9d9d9d;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
  color: #fff;
}
.new-project{
  background-color: #8895B4;
  color: #fff;
}
.new-project:hover{
  background-color: #6f7c9a;
  color: #fff;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus{
  background-color: #fff;
  color: #9d9d9d;
}

/* modal */
.modal .modal-title{
  color: #8895B4;
  font-weight: 200;
}

.modal .form-control{
  display: inline;
  width: 200px;
}

.btn{
  outline: none;
}

#registerModal label{
  width: 70px;
}

/* project */

.project-manager{
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}
.project-header{
  margin: 0 auto;
  border: none;
  width: 90%;
  margin-top: 20px;
}
.project{
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 50px 20px;
  margin: 10px 0;
  text-align: center;
}
.project-title{
  color: #8895B4;
  font-size: 24px;
  margin-bottom: 10px;
}
.project-owner{
  color: #ACACAC;
  font-size: 14px;
  margin-bottom: 10px;
}
.project-env{
  margin-bottom: 10px;
  a{
    color: #fff;
  }
  a:hover{
    color: #f1f2f6;
  }
  .prod{
     background-color: #7ED321;
  }
  .pre{
    background-color: #F5A623;
  }
  .test{
     background-color: #4A90E2;
  }
  .dev{
     background-color: #26BBF0;
  }
}
.project-action a{
  font-size: 24px;
  margin: 0 3px;
  text-decoration: none;
}
.new-project{
  float: left;
  outline: none;
}
/* 创建项目 */
#createProjectModal label, #editProjectModal label{
  color: #828282;
}
#createProjectModal .evniroment, #editProjectModal .evniroment{
  height: 150px;
  input[type=checkbox] {
    margin: 11px -20px 0;
  }
  span{
    width: 100px;
    line-height: 34px;
    display: inherit;
  }
}

#addAppModal .modal-content{
  width: 400px;
}
#addAppModal .modal-body{
  margin: 0 auto;
  width: 350px;
  label{
    font-weight: 200;
    width: 80px;
  }
}

/* 选择应用 */
.modal-app-title{
  padding: 0;
}
.modal-app-title>li{
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  list-style-type:none;
  margin: 10px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  display: inline-block;
  text-align: center;
  a{
    display: block;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.modal-app-title>li:hover{
  background-color: #f2f9ff;
}

.user-manager{
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  .user-header{
    height: 50px;
    width: 100%;
    background-color: #8895B4;
    .user-count{
      line-height: 50px;
      color: #fff;
      padding-left: 50px;
    }
    .user-add{
     line-height: 50px;
     color: #fff;
     outline: none;
     float: right;
     margin: 0;
     padding-right: 50px;
     text-decoration: none;
   }
  }
}

.user-manager .user-table{
  margin: 0 auto;
  min-height: 700px;
  background-color: #fff;
  table{
    width: 90%;
    margin: 0 auto;
    th{
      color: #8895B4;
      font-size: 14px;
      font-weight: normal;
      border: none;
    }
    td{
      color: #666666;
      font-size: 14px;
      font-weight: normal;
      border-top: none;
      border-bottom: 1px solid #ddd;
      img{
        width: 25px;
        height: 25px;
        margin-right: 5px;
      }
      a{
       text-decoration: none;
       }
       .develop{
         background-color: #F5A623;
         color: #fff;
         width: 60px;
       }
       .PM{
        background-color: #7ED321;
        color: #fff;
        width: 60px;
      }
      .tester{
        background-color: #4A90E2;
        color: #fff;
        width: 60px;
      }
    }
  }
}
#addUserModal, #editUserModal{
  .modal-content{
    width: 400px;
  }
  .modal-title{
    color: #8895B4;
    font-weight: 200;
  }
  .modal-body{
    margin: 0 auto;
    width: 300px;
    label{
      font-weight: 200;
      width: 60px;
    }
  }
}


/* case */
.case-manager{
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}
.case-manager .setting .setting-header, .case-manager .group #group-tab {
  height: 50px;
  width: 100%;
  background-color: #8895B4;
}
.case-manager .setting{
  .setting-header-left{
    width: 50%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    padding-left: 20px;
    display: inline-block;
  }
  .setting-header-right {
    height: 50px;
    line-height: 50px;
    color: #fff;
    float: right;
    padding-right: 20px;
    display: inline-block;
  }
  .setting-content{
    background-color: #fff;
    margin-bottom:20px;
    cursor: default;
    .setting-name{
      background-color: #7ED321;
      color: #fff;
      min-width: 80px;
      font-size: 12px;
      margin:10px 0 10px 20px;
    }
    .setting-env{
      background-color: #F5A623;
      color: #fff;
      min-width: 80px;
      font-size: 12px;
      margin:10px 0 10px 20px;
    }
    .setting-wait{
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 14px;
      color: #A8A8A8;
    }
  }
}

.case-manager .group #group-tab{
  margin: 0;
  padding: 0;
  li{
    list-style-type: none;
    float: left;
    width: 50%;
    margin: 0 auto;
    line-height: 50px;
    height: 50px;
    text-align: center;
    a{
      font-size: 14px;
      text-decoration: none;
      color: #fff;
      height: 50px;
      display: block;
    }
  }
  .active{
   height: 50px;
   margin-bottom: -6px;
   border-bottom: 3px #fff solid;
 }
}

.time .iconfont{
  font-size: 12px;
}
.case-manager .group .tab-content{
  background-color: #fff;
  .tab-pane ul{
    margin: 0;
    padding: 0;
    li{
      list-style-type: none;
      padding-left: 10px;
      height: 70px;
      border-bottom: 1px solid #f1f2f6;
      border-left: 3px solid #fff;
      cursor: pointer;
    }
    .active{
      border-left: 3px solid #8895B4;
    }
  }
  .template-obj{
    height: 50px;
    padding: 10px auto;
    margin-top: 5px;
    margin-left: 30px;
  }
}


.case-manager .detail-header{
  height: 50px;
  width: 100%;
  background-color: #8895B4;
  .detail-header-left{
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    width:300px;
    padding-left: 20px;
    display: inline-block;
  }
  .detail-header-right{
    float:right;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #fff;
    padding-right: 20px;
    display: inline-block;
  }
}

.case-manager .detail-content{
  padding-top: 10px;
  background-color: #fff;
  overflow: hidden;
  .detail-left{
    width: 50%;
    display: inline-block;
    height: 100%;
    padding-top: 10px;
    border-right: 1px solid #dfdfdf;
    .detail-search{
      padding-left: 30px;
      input[name="template"]{
        height: 30px;
        width: 200px;
        border: 1px solid #8895B4;
        border-radius: 3px;
        outline: none;
        padding: 5px;
      }
      input[type='submit']{
        background-color: #F5F5F5;
        border: none;
        border-radius: 3px;
        height: 30px;
        color: #666666;
        outline: none;
      }
    }
    ul{
      padding: 0;
      padding-top: 10px;
      list-style-type: none;
      li{
        height: 70px;
        padding-left: 20px;
        cursor: pointer;
        border-bottom: #dfdfdf solid 1px;
        input{
          display: inline-block;
          height: 42px;
        }
        .model-obj{
          display: inline-block;
          height: 50px;
          padding: 5px 10px;
        }
      }
    }
  }
}

.case-manager .detail-content .detail-right{
  width: 50%;
  display: inline-block;
  height: 100%;
  float: right;
  position: relative;
  left: -1px;
  border-left: 1px solid #dfdfdf;
  .model{
    color: #818388;
    margin: 5px 10px;
    font-weight: bold;
    margin: 5px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  header {
    .title{
      color: #8895B4;
      margin: 5px 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .result{
      margin: 5px 10px;
      padding: 0 10px;
      color: #666666;
      height: 40px;
      line-height: 40px;
      background-color: #f5f5f5;
      font-size: 12px;
      span{
        float: right;
      }
    }
  }
  ul{
    color: #8895B4;
    list-style-type: decimal;
    li{
      list-style-type: none;
      list-style-type: decimal;
      margin-top: 10px;
      .path{
        color: #8895B4;
        line-height: 20px;
        font-size: 12px;
        margin-bottom: 10px;
        span{
          i{
            font-size: 12px;
          }
        }
      }
      .info{
        background-color: #FD8181;
        border-radius: 3px;
        height: 38px;
        line-height: 38px;
        color: #fff;
        display: block;
        font-size: 12px;
        padding: 0px 20px;
        margin-right: 20px;
      }
    }
  }
}

.group-obj, .model-obj{
  height: 50px;
  padding: 16px 20px;
  .name{
    font-size: 14px;
    color: #8895B4;
  }
  .time{
    font-size: 12px;
    color: #A8A8A8;
  }
}

/* application */
h2.operation-title {
    font-size: 32px;
    font-weight: 200;
    line-height: 1;
    padding-right: 160px;
}
h2.operation-title {
    display: block;
    float: none;
    color: #333;
    padding: 0;
    font-size: 25px;
    line-height: 1.3;
    font-weight: 400;
    margin: 20px 0;
}

.http_method a, .http_method span {
    background: rgb(1, 180, 143);
}
.http_method a {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    display: inline-block;
    border-radius: 20px;
    padding: 2px 10px;
    vertical-align: top;
}
.path a {
    line-height: 1.1em;
    font-weight: 400;
    color: rgb(131, 137, 145);
    font-size: 12px;
    max-width: 230px;
    display: inline-block;
    vertical-align: top;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
p.operations {
    color: #5c666f;
    min-width: 320px;
    position: relative;
}
.application-manager .app-header{
  background-color: #f1f2f6;
  margin-bottom: 30px;
  color: inherit;
  padding: 20px;
  border-radius: 6px;
}
#importApiModal .modal-content{
  width: 400px;
  margin: 0 auto;
}

body {
  padding-top: 50px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.cursor{
  cursor: pointer;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f1f2f6;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
