/* validator */
.error input, .error textarea {
    outline: 0;
    border-color: #f20;
    color: #f20;
}

/* header */
.navbar{
  background-color: #8895B4;
}
.navbar-inverse .navbar-right>li:hover{
  background-color: #fff;
}
.navbar-inverse .navbar-right>li a:hover{
  color: #9d9d9d;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
  color: #fff;
}
.new-project{
  background-color: #8895B4;
  color: #fff;
}
.new-project:hover{
  background-color: #6f7c9a;
  color: #fff;
}

/* project */

.project-manager{
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
}
.project-header{
  margin: 0 auto;
  border: none;
  width: 80%;
  margin-top: 40px;
}
.project{
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 50px 20px 20px;
  margin: 10px 0;
}
.project-title{
  color: #8895B4;
  font-size: 24px;
  margin-bottom: 10px;
}
.project-owner{
  color: #ACACAC;
  font-size: 14px;
  margin-bottom: 10px;
}
.project-env{
  margin-bottom: 10px;
}
.project-env .prod{
  background-color: #7ED321;
  color: #fff;
}
.project-env .pre{
  background-color: #F5A623;
  color: #fff;
}
.project-env .test{
  background-color: #4A90E2;
  color: #fff;
}
.project-env .dev{
  background-color: #26BBF0;
  color: #fff;
}
.project-action a{
  font-size: 24px;
  margin: 0 3px;
  text-decoration: none;
}
.new-project{
  float: left;
}
/* 创建项目 */
#createProjectModal label{
  color: #828282;
}
#createProjectModal .modal-title{
  color: #8895B4;
  font-weight: 200;
}
#createProjectModal .form-control{
  display: inline;
  width: 200px;
}
#createProjectModal .evniroment{
  height: 150px;
}
#createProjectModal .evniroment input[type=checkbox] {
  margin: 11px -20px 0;
}
#createProjectModal .evniroment span{
  width: 100px;
  line-height: 34px;
  display: inherit;
}

#selectApplicationModal .modal-title{
  color: #8895B4;
  font-weight: 200;
}

/* 选择应用 */
.modal-app-title{
  padding: 0;
}
.modal-app-title>li{
  background-color: #fff;
  border: 1px solid #ddd;
  list-style-type:none;
  margin: 10px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  display: inline-block;
  text-align: center;
}
.modal-app-title>li:hover{
  background-color: #8895B4;
}
.modal-app-title>li a{
  display: block;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-manager{
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
.user-manager .user-header{
  height: 50px;
  widht: 100%;
  background-color: #8895B4;
}
.user-manager .user-header .user-count{
  line-height: 50px;
  color: #fff;
  margin-left: 30px;
}
.user-manager .user-header .user-add{
  line-height: 50px;
  color: #fff;
  float: right;
  margin-right: 30px;
  text-decoration: none;
}

.user-manager .user-table{
  margin: 0 auto;
  min-height: 700px;
  background-color: #fff;
}
.user-manager .user-table table{
  width: 90%;
  margin: 0 auto;
}

.user-manager .user-table table th{
  color: #8895B4;
  font-size: 14px;
  font-weight: normal;
  border: none;
}
.user-manager .user-table table td{
  color: #666666;
  font-size: 14px;
  font-weight: normal;
  border-top: none;
  border-bottom: 1px solid #ddd;
}
.user-manager .user-table table td img{
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.user-manager .user-table table td a{
  text-decoration: none;
}

.user-manager .user-table table td .develop{
  background-color: #F5A623;
  color: #fff;
  width: 60px;
}
.user-manager .user-table table td .PM{
  background-color: #7ED321;
  color: #fff;
  width: 60px;
}
.user-manager .user-table table td .tester{
  background-color: #4A90E2;
  color: #fff;
  width: 60px;
}

#addUserModal .form-control{
  display: inline;
  width: 200px;
}
#addUserModal .modal-content{
  width: 400px;
}
#addUserModal .modal-title{
  color: #8895B4;
  font-weight: 200;
}
#addUserModal .modal-body{
  margin: 0 auto;
  width: 300px;
}
#addUserModal .modal-body label{
  font-weight: 200;
  width: 60px;
}
