<select name="type" class="js-items-type-value">
  <option value="integer">integer</option>
  <option value="integer" data-format="int32">integer [int32]</option>
  <option value="integer" selected="selected" data-format="int64">integer [int64]</option>
  <option value="number">number</option>
  <option value="number" data-format="float">number [float]</option>
  <option value="number" data-format="double">number [double]</option>
  <option value="string">string</option>
  <option value="string" data-format="byte">string [byte]</option>
  <option value="boolean">boolean</option>
  <option value="string" data-format="date">string [date]</option>
  <option value="string" data-format="date-time">string [date-time]</option>
</select>