{{>header}}
<div class="container-fluid">
  <div class="row bg-success " style="margin-top: 10px;">
    <form class="form-horizontal js-path-form table-bordered ">
      <div class="form-group">
        <label class="col-sm-1 text-right">Path: </label>
        <div class="col-sm-2">
          <input type="text" class="form-control input-sm js-path-value"/>
        </div>
        <label class="col-sm-1 text-right">方法: </label>
        <div class="col-sm-1">
          <select class="form-control input-sm js-method-value">
            <option value="get">GET</option>
            <option value="post">POST</option>
            <option value="put">PUT</option>
            <option value="delete">DELETE</option>
            <option value="patch">PATCH</option>
            <option value="options">OPTIONS</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 text-right">标签： </label>
        <div class="col-sm-2">
          <select class="form-control input-sm js-tags-value">
            <option>core-users</option>
          </select>
        </div>
        <label class="col-sm-1 text-right">概要: </label>
        <div class="col-sm-2">
          <input type="text" class="form-control input-sm js-summary-value"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 text-right">Consumes: </label>
        <div class="col-sm-2">
          <select class="form-control input-sm js-consumes-value">
            <option value=""></option>
            <option value="">application/json</option>
          </select>
        </div>
        <label class="col-sm-1 text-right">Produces: </label>
        <div class="col-sm-2">
          <select class="form-control input-sm js-produces-value">
            <option value=""></option>
            <option value="">application/json</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class=" col-sm-7">
          <table class="table table-striped js-param-table">
            <thead>
            <tr class="text-center">
              <td>ParamType</td>
              <td>Name</td>
              <td>Description</td>
              <td>Type</td>
              <td>Required</td>
              <td></td>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
          <button class="btn btn-primary btn-sm pull-right js-add-param-btn">add Parameter</button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-7">
          <button class="btn btn-primary pull-right js-save-path-btn">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="/javascripts/apiForm.js"></script>
