{{> header}}
<style type="text/css">
.body-main{ background-color: #f1f2f6; }
</style>
<div class="container-fluid">
  <div class="row">
    <div class="case-manager">
      <div class="col-sm-3 case-left">
        <div class="setting">
          <div class="setting-header">
            <div class="setting-header-left">设置</div>
            <div class="setting-header-right edit-setting cursor"><i class="iconfont icon-bianji" style="font-size: 12px;"></i>edit</div>
          </div>
          <div class="setting-content">
            <a class="btn btn-sm setting-project" href="javascript:;">Jidd</a>
            <a class="btn btn-sm setting-env" href="javascript:;">测试环境</a>
          </div>
        </div>
        <div class="group">
          <ul id="group-tab">
            <li class="active"><a href="#template" data-toggle="tab">模版组</a></li>
            <li><a href="#Case" data-toggle="tab">用例组</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="template">
              <ul>
                <li class="active-obj">
                  <div class="group-obj">
                    <div class="name">用户模块</div>
                    <div class="time"><i class="iconfont icon-shijian" style="font-size: 12px;"></i>2016-10-10 12:12:12</div>
                  </div>
                </li>
                <li>
                  <div class="group-obj">
                    <div class="name">商品模块</div>
                    <div class="time"><i class="iconfont icon-shijian" style="font-size: 12px;"></i>latest: 2016-10-10 12:12:12</div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tab-pane fade" id="Case">
              <ul>
                <li>
                  <div class="group-obj">
                    <div class="name">用户模块</div>
                    <div class="time"><i class="iconfont icon-shijian"></i> latest: 2016-10-10 12:12:12</div>
                  </div>
                </li>
                <li>
                  <div class="group-obj">
                    <div class="name">商品模块</div>
                    <div class="time"><i class="iconfont icon-shijian"></i> latest: 2016-10-10 12:12:12</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9 case-right">
        <div class="detail-header">
          <div class="detail-header-left">商品模块  125templates</div>
          <div class="detail-header-right">
            <span class="edit-group cursor"><i class="iconfont icon-bianji" style="font-size: 12px;"></i>edit</span>
            <span class="del-group cursor"><i class="iconfont icon-shanchu" style="font-size: 12px;"></i>delete</span>
          </div>
        </div>
        <div class="detail-content">
          <div class="detail-left">
            <div class="detail-search">
              <input type="text" name="template" placeholder="Enter id or name">
              <input type="submit" value="search"/>
            </div>
            <ul>
              <li class="active-obj">
                <input type="radio" name="radio-obj" />
                <div class="group-obj">
                  <div class="name">用户模块</div>
                  <div class="time"><i class="iconfont icon-shijian"></i> 2016-10-10 12:12:12 <i class="iconfont icon-ren"></i> Leo</div>
                </div>
              </li>
              <li>
                <input type="radio" name="radio-obj"/>
                <div class="group-obj">
                  <div class="name">商品模块</div>
                  <div class="time"><i class="iconfont icon-shijian"></i> 2016-10-10 12:12:12 <i class="iconfont icon-ren"></i> Leo</div>
                </div>
              </li>
            </ul>
          </div>
          <div class="detail-right">
            <header>
              <div class="title">172- 商品详情页加入购物车 <span>json</span></div>
              <div class="result">预期结果：以下报错均出现 <span class="del-detail cursor"><i class="iconfont icon-shanchu" style="font-size: 12px;"></i>delete</span><span class="edit-detail cursor"><i class="iconfont icon-bianji" style="font-size: 12px;"></i>edit</span></div>
            </header>
            <ul>
              <li>
                <div class="path">
                  <span><i class="iconfont icon-dingwei" style="font-size: 12px;"></i> //*[@id='button']</span>
                  <span style="color: #90B36A;margin-left:30px;"><i class="iconfont icon-banshou" style="font-size: 12px;"></i> click</span></div>
                <div class="info">请输入至少6位且含字母的密码 edit  delete</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/javascripts/case.js"></script>
