{{> header}}
<style type="text/css">
.body-main{
  background-color: #f1f2f6;
}
</style>
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3">
      <div class="setting">
        <div class="setting-header"></div>
        <div class="setting-content"></div>
      </div>
      <div class="group"></div>
    </div>
    <div class="col-sm-8">
    </div>
  </div>
</div>

<link href="./stylesheets/dashboard.css" rel="stylesheet">
<script type="text/javascript" src="../javascripts/case.js"></script>
